# Ignore generated protobuf files
backend/src/protobuf_gen/
geco/src/protobuf_gen/

# Ignore Rust build artifacts
target/
**/target/

# Ignore WASM build artifacts (if not checked in)
geco/pkg/

# Ignore environment files
.env
.env.example

#ignore node modules
frontend/node_modules/
frontend/dist/
coverage_reports
Cargo.lock
Cargo.lock


#docs
TFE-ANALYSIS.md
